<%= form_tag '/form_send_example', method: :post do %>
<form action='/form_send_example' method='post'>
  <div>
    Enter message: <input type='text' name='form_message'>
    </div>
    <input type='submit' value='send message'
<% end %>